---
import { playlists } from '@/lib/data';
import Layout from '../layouts/Layout.astro';
import PlayListItemCard from '@/components/PlayListItemCard.astro';
import Greeting from '@/components/Greeting.svelte';
---

<Layout title='Spotify Clone'>
  <div
    id='playlist-container'
    class='relative transition-all duration-1000 bg-green-600'
  >
    <!-- PageHeader -->

    <div class='relative z-20 p-6'>
      <Greeting />
      <div class='flex flex-wrap gap-4 my-3'>
        {playlists.map(playlist => <PlayListItemCard playlist={playlist} />)}
      </div>
    </div>
    <div
      class='absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80'
    >
    </div>
  </div>
</Layout>
